.baseButton {
	display: inline-block;
	border: none;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.25),
		inset -1px -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 24px;
	text-shadow: var(--very-small-shadow);
	text-align: center;
}

.baseButton:disabled {
	opacity: 0.5;
}

@media (max-width: 767.98px) {
	.baseButton {
		font-size: 18px;
		padding: 8px 16px;
	}
}

.baseButton:not(:disabled) {
	cursor: default;
}

.bright {
	color: #0008;
}

.bright:not(:disabled):hover {
	filter: brightness(0.9);
}

.dark {
	color: #fff;
}

.dark:not(:disabled):hover {
	filter: brightness(1.1);
}

.greenButton {
	composes: baseButton dark;
	background: linear-gradient(180deg, #B5DA00 0%, #78A100 100%);
}