:root {
	/* --text: #2c3e50; */

	--text: #293845;
	--dim-text: #293845cc;
	--red: #ef3340;
	--orange: #ef8d33;
	--green: #78a100;
	--background: #f7f7f7;
	--gray: #e5e5e5;

	--source-sans-font: "Source Sans Variable", "Source Sans Pro";
	--asap-font: "Asap";
	--default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--very-small-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	--small-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25),
		0px 2px 4px rgba(0, 0, 0, 0.25);
	--medium-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2),
		0px 1px 5px rgba(0, 0, 0, 0.5);
	--large-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.1),
		0px 2.5px 5px rgba(0, 0, 0, 0.25);

	--very-small-shadow-filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
	--small-shadow-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25))
		drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
	--medium-shadow-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
		drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.5));
	--large-shadow-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.1))
		drop-shadow(0px 2.5px 5px rgba(0, 0, 0, 0.75));
}

body {
	background: var(--background);
	color: var(--text);
	font-family: var(--source-sans-font), var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--asap-font), var(--source-sans-font), var(--default-font);
	font-weight: 600;
}

.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list {
	/* Snipcart uses overflow: overlay, and that only works in webkit, making the sidebar unscrollable on Firefox! */
	overflow: auto !important;
}
